---
name: Frontend

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

defaults:
  run:
    working-directory: ./frontend

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          cache-dependency-path: frontend/package-lock.json
          cache: npm
          node-version-file: frontend/.node-version

      - name: Install Dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Check Formatting
        run: npm run format:check

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          cache-dependency-path: frontend/package-lock.json
          cache: npm
          node-version-file: frontend/.node-version

      - name: Install Dependencies
        run: npm ci

      - name: Test
        run: npm run test:ci
